#header-nav{
  background-color:lightsteelblue;
  height:130px;
  margin-bottom: 0px;
  border-radius:0;
}
#header-nav1{
	border-radius: 0;
}
#brand{
  padding:0px;
  padding-left:15px;
 }
 #brand h1{
  margin-top: 15px;
  font-family: 'Crimson Text', serif;
  color:black;
 }
 #nav-list{
   font-family: 'Crimson Text', serif;
 }
#about,#education,#tech,#schol,#certi,#contact{
  font-family: 'Crimson Text', serif;
  font-size: 16px;
}